@charset "UTF=8";
body{
 background-color: rgb(52, 135, 230);
text-align: justify;

}
ul li{
    text-decoration: none;
    color: rgb(18, 4, 176);
    font-weight:bold;
}
figure{
    text-align: center;
    
}
img{
    border: 5px solid rgb(160, 1, 160);
}
a{
    color: rgb(18, 4, 127);
    text-decoration: none;
    font-weight: bold;
}
a:visited{
         color: rgb(2, 2, 77);
}

