@charset "UTF=8";
body{
background-color: rgb(3, 130, 241);
text-align:justify ;
}
ul li{
    text-decoration: none;
    color: rgb(18, 4, 176);
    font-weight:bold;
}
figure{
    text-align: center;
    
}
a{
    color: rgb(18, 4, 127);
    text-decoration: none;
    font-weight: bold;
}
a:visited{
         color: rgb(2, 2, 77);
}
